body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #f8f8f8, #e8e8e8); /* Gradient tła */
    margin: 0;
    padding: 0;
}

.background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.background-slider img.active {
    opacity: 1;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Poprawiony cień */
    border-radius: 8px; /* Zaokrąglenie krawędzi */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Dodatkowe style dla responsywności */
@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
    th, td {
        padding: 8px;
    }
}